<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChoppOnTap"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <!-- Tela de IMEI como principal (LAUNCHER) para garantir vínculo -->
        <activity
            android:name=".Imei"
            android:exported="true"
            android:label="Vínculo de Dispositivo"
            android:screenOrientation="reversePortrait"
            android:theme="@style/Theme.ChoppOnTap" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Home"
            android:exported="true"
            android:screenOrientation="reversePortrait"
            android:theme="@style/Theme.ChoppOnTap" />

        <activity
            android:name=".FormaPagamento"
            android:exported="true"
            android:screenOrientation="reversePortrait"
            android:theme="@style/Theme.ChoppOnTap" />

        <activity
            android:name=".PagamentoConcluido"
            android:exported="true"
            android:screenOrientation="reversePortrait"
            android:theme="@style/Theme.ChoppOnTap" />

        <activity
            android:name=".CalibrarPulsos"
            android:exported="true"
            android:screenOrientation="reversePortrait"
            android:theme="@style/Theme.ChoppOnTap" />

        <activity
            android:name=".ModificarTimeout"
            android:exported="true"
            android:screenOrientation="reversePortrait"
            android:theme="@style/Theme.ChoppOnTap" />

        <activity
            android:name=".AcessoMaster"
            android:exported="false"
            android:screenOrientation="reversePortrait"
            android:theme="@style/Theme.ChoppOnTap" />

        <activity
            android:name=".ServiceTools"
            android:exported="false"
            android:screenOrientation="reversePortrait"
            android:theme="@style/Theme.ChoppOnTap" />

        <service
            android:name=".BluetoothService"
            android:enabled="true" />

    </application>

</manifest>
